---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import logoImage from "../images/qsc_logo_outlined_cropped.png";
import bg1 from "../images/bg/speaker_1.jpg";
import bg2 from "../images/bg/case_comp.jpeg";
import bg3 from "../images/bg/speaker_2.jpg";
import bg4 from "../images/bg/case_comp_1.jpg";
import bg5 from "../images/bg/speaker_3.jpg";

import locationIcon from "../icons/location.svg"
import calendarIcon from "../icons/calendar.svg"
import speakerIcon from "../icons/speaker.svg"
import networkingIcon from "../icons/networking.svg"
import shuttleIcon from "../icons/space-shuttle.svg"

import "../styles/main.scss"
import Index from "../styles/index.module.scss"
import { getImage } from "astro:assets"
import {callEndpoint} from "astro/dist/core/endpoint";
import Question from "../components/Question.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Home">
	<main>
		<section class={Index.hero}>
			<div class={Index.top}>
				<div>
					<div class={Index.logoContainer}>
						<Image src={logoImage} alt="Queen's Space Conference Logo" style="height: auto; width: 50rem; object-fit: cover";/>
					</div>
					<div class={Index.headingDiv}>
						<h1>Inspiring; <br/> Educating; <br/> Connecting.</h1>
					</div>
				</div>
			</div>
			<div  class={`center p-2 mt-1 ${Index.bottom}`}>
				<p class="sem-h-small mb-1">Queen's Space Conference 2024</p>
				<p>Connecting students with leaders in the space industry for over a decade</p>
			</div>
		</section>

		<div style="position:relative;">
			<div class={Index.bgs} aria-hidden="true">
				<Image src={bg1} alt="bg image" style="width: 100%; height: auto; object-fit: contain"/>
				<Image src={bg2} alt="bg image" style="width: 100%; height: auto; object-fit: contain"/>
				<Image src={bg3} alt="bg image" style="width: 100%; height: auto; object-fit: contain"/>
				<Image src={bg4} alt="bg image" style="width: 100%; height: auto; object-fit: contain"/>
				<Image src={bg5} alt="bg image" style="width: 100%; height: auto; object-fit: contain"/>
			</div>

			<section class={Index.about}>
				<div class="pl-3 pt-2">
					<h2>What is QSC?</h2>

					<div class:list={["p-5", `${Index.points}`]}>
						<div>
							<img src={locationIcon.src} alt="an icon of a map pin">
							<img src={calendarIcon.src} alt="an icon of a calendar">
						</div>
						<div>
							<p>We are an annual student-ran space conference based out of Kingston, Ontario. The conference will span two days, starting on February 2nd and ending the evening of the 3rd. It will include presentations from speakers, a case competition, an networking fair, and opportunities to connect with others at the conference.</p>
						</div>

						<div>
							<img src={speakerIcon.src} alt="an icon of speaker at a podium">
						</div>
						<div>
							<p>We strive to bring together industry professionals in order to provide delegates the most informative, inspiring, and memorable conference possible. A range of 5-7 speakers will talk about their role in the space industry, their contributions, and where we are headed. The talks tend to vary in technical detail and the bigger picture, and thus are suited for a range of backgrounds and interests. Past speakers include CEOs, engineers, astrophysicist, astronauts, AI specialists, and more. More information about our past speakers will be posted on this website soon!</p>
						</div>

						<div>
							<img src={networkingIcon.src} alt="an icon of a map pin">
						</div>
						<div>
							<p>We provide networking opportunities with our speakers and their respective organizations, as well as with our cosponsors, other students, and all other delegates. There will be a networking showcase with booths set up representing extracurriculars, research opportunities, and space-related companies at our conference.</p>
						</div>

						<div>
							<img class="rotate45" src={shuttleIcon.src} alt="an icon of a map pin">
						</div>
						<div>
							<p>
								QSC is about sparking thought and idea-generation, connecting our delegates with those who can launch them towards their goals, and spreading education and love for space. QSC is an opportunity to learn, grow, and connect meaningfully.
							</p>
						</div>

					</div>
				</div>
			</section>
			<section class={Index.faq}>
				<div class={Index.watermark} aria-hidden="true">?</div>
				<div class="pl-3 pt-2">
					<h2>Frequently Asked Questions</h2>
					<div class="p-4">
						<Question question="What is a case competition? " answer=" Case competitions are named so as they are case studies of tangible, real world scenarios. Participants will be given a prompt and, within an allocated time frame, strive to develop a solution or plan with their team, followed by a presentation.  "/>
						<Question question="Do you have to be a Queen’s student to come to the conference? " answer="No, you do not! Students from everywhere are welcome and encouraged to come to the Queen’s Space Conference. "/>
						<Question question="Question?" answer="Answwer"/>
						<Question question="Question?" answer="Answwer"/>
						<Question question="Question?" answer="Answwer"/>
					</div>
				</div>
			</section>
		</div>
	</main>
	<Footer/>
</Layout>