---
import Layout from "../layouts/Layout.astro";
import Speakers from "../styles/speakers.module.scss";
import speakers from "../res/speaker_data_2024_v3.json"
import SpeakerGroup from "../components/SpeakerGroup.astro";

// loading all the images in
const images = await Astro.glob(
    "../images/Speaker Headshots/*/*.{jpg,JPG,jpeg,png,PNG,webp}"
).then((files) => {
    const map = {}
    for (const file of files) {
        const f = file.default
        const re = /(?<=\/)[a-z-\.]*(?=\?)/ // matches some-name in "/some-name.extension"
        const match = f.src.match(re)
        map[match] = f
    }
    return map
});

const currentYear = "2024"
---

<Layout title="Speakers">
    <meta slot="head" name="description" property="og:description" content="The Queen's Space Conference has had over 75 unique professionals in the space industry speak over our 10 years of running. The conference is centered around a series of exciting talks from professionals in the space spector, innovative workshops, and networking opportunities. Come to QSC 2024 on Febuary 3rd and Febuary 4th to learn about all things space." />
    <meta slot="head" property="og:url" content="https://www.qsconference.ca/speakers">

    <main slot="content" class={Speakers.main}>
        <section class={Speakers.history}>

            <h1>History of QSC Speakers</h1>
            <!-- buttons to jump to years -->
            <div>
                {
                    Array.from(Array(11).keys()).map(i => {
                        const year = i+2013
                        return (<a href={`#${year}`} class={Speakers.yearButton}>{year}</a>)
                    })
                }
            </div>

            <div class={Speakers.yearSections}>
                {
                    Object.keys(speakers).reverse().map(year => {
                        if(year != currentYear)
                        {
                            return <SpeakerGroup speakerList={speakers[year]} title={year} year={year} images={images}/>
                        }
                        return "";
                    })
                }
            </div>
        </section>
    </main>
</Layout>