---
import Layout from "../layouts/Layout.astro";
import Speakers from "../styles/speakers.module.scss";
import speakers from "../res/speaker_data_2024_v3.json"
import SpeakerGroup from "../components/SpeakerGroup.astro";
import infoIcon from "../icons/information_icon.png";
import { Image } from 'astro:assets';

// loading all the images in
const images = await Astro.glob(
    "../images/Speaker Headshots/*/*.{jpg,JPG,jpeg,png,PNG,webp}"
).then((files) => {
    const map = {}
    for (const file of files) {
        const f = file.default
        const name = f.src.split("/").at(-1).split(".")[0]
        map[name] = f
        console.log(name)
    }
    return map
});
---

<Layout title="Speakers">
    <meta slot="head" name="description" property="og:description" content="The Queen's Space Conference has had over 75 unique professionals in the space industry speak over our 10 years of running. The conference is centered around a series of exciting talks from professionals in the space spector, innovative workshops, and networking opportunities. Come to QSC 2024 on Febuary 3rd and Febuary 4th to learn about all things space." />
    <meta slot="head" property="og:url" content="https://www.qsconference.ca/speakers">

    <main slot="content" class={Speakers.main}>
        <section class={Speakers.history}>
            <h1 id="history">History of QSC Speakers</h1>
            <p>Over the past 12 years, QSC has had 80+ speakers present at our conferences. For over a decade we have been connecting students with professionals in the space sector from a variety of backgrounds. We have had astrophysicists, cosmologists, astronauts, engineers, CEOs, COOs, directors, AI specialists, professors, and many more speakers present at QSC. We've had speakers from NASA, CSA, MDA, and Canadian universities, and speakers that have worked on big projects like the James Webb Space Telescope (JWST) and the wide-angle Euclid telescope. Explore all of our speakers below and click on the <Image src={infoIcon} width="30px" alt="blue information icon"/> to learn more! Click on the buttons below to jump to see speakers from a specific year.</p>
            <!-- buttons to jump to years -->
            <div>
                {
                    Array.from(Array(12).keys()).map(i => {
                        const year = i+2013
                        return (<a href={`#${year}`} class={Speakers.yearButton}>{year}</a>)
                    })
                }
            </div>
            <hr/>
            <div class={Speakers.yearSections}>
                {
                    Object.keys(speakers).reverse().map(year => {
                        return <SpeakerGroup speakerList={speakers[year]} title={year} year={year} images={images}/>
                    })
                }
            </div>
        </section>
    </main>
</Layout>