---
import SpeakerBioButton from "../styles/SpeakerBioButton.module.scss";
import infoIcon from "../icons/information_icon.png";
import {Image} from "astro:assets";
import Modal from "./Modal.astro";

const {speaker, year, src} = Astro.props;
---
<Modal>
    <button slot="button" class={SpeakerBioButton.infoButton}><Image src={infoIcon} alt="blue information icon" width="200px"/></button>
    <div slot="content" class={SpeakerBioButton.content}>
        <h2>{speaker.name + ` (${year})`}</h2>
        <div class={SpeakerBioButton.left}>
            <div>
                <Image
                        src={src}
                        alt=`headshot of ${speaker.name}`
                        width="250px"
                />
            </div>
            <p class="orange">{speaker.company}</p>
            <p>{speaker.position}</p>
        </div>
        <p set:html={speaker.bio} class={SpeakerBioButton.bio}></p>
    </div>
</Modal>