---
import "../styles/main.scss"
import Speaker from "../styles/Speaker.module.scss";
import speakerIcon from "../icons/speaker.svg";
import {Image} from "astro:assets";
import infoIcon from "../icons/information_icon.png"
import wwwIcon from "../icons/www_icon.png"
import Modal from "./Modal.astro";

const { speaker, images, year } = Astro.props;

const headshotPath = speaker["headshot-path"]
let src = ""
if(headshotPath && Object.keys(images).includes(headshotPath)) {
    src = images[headshotPath]
} else {
    src = speakerIcon
    console.error(`Couldn't find headshot for ${speaker.name} from ${year}...using default headshot`)
}
---

<div class={Speaker.speaker}>
    <div class={Speaker.imgDiv}>
        <Image
                src={src}
                alt=`headshot of ${speaker.name}`
        />
    </div>
    <div>
        <p>{speaker.name}</p>
        <p class="orange">{speaker.company}</p>
        <p>{speaker.position}</p>
        <div class={Speaker.icons}>
            <Modal>
                <button slot="button" class={Speaker.infoButton}><Image src={infoIcon} alt="information icon" width="200px"/></button>
                <p slot="content">Hi</p>
            </Modal>
        </div>
    </div>
</div>